<plantilla-pagina-contenedora
  [icon]="'corporate_fare'"
  [title]="'Registro Único de Persona Jurídica'"
  [breadcrumb]="'<p>Gestión de Proveedores > <b>Persona Jurídica</b></p>'"
  [mostrarBotonRegresar]="true"
  (regresar)="regresarARegistroInicial()"
>

  <stepper-visual
    [label]="'Progreso del registro de persona jurídica'"
    [pasos]="pasos"
    [(pasoActual)]="pasoActual"
  ></stepper-visual>

  <section class="contenido-pasos" aria-label="Información del registro">
    @switch (pasoActual) {
      @case (1) {
        <registro-persona-juridica-paso-1
          [(formulario)]="formulario"
        ></registro-persona-juridica-paso-1>
        }
      @case (2) {
        <registro-persona-juridica-paso-2
          [(formulario)]="formulario"
        ></registro-persona-juridica-paso-2>
      }
      @case (3) {
        <registro-persona-juridica-paso-3
          [(formulario)]="formulario"
        ></registro-persona-juridica-paso-3>
      }
      @case (4) {
        <registro-persona-juridica-paso-4
          [(formulario)]="formulario"
        ></registro-persona-juridica-paso-4>
      }
    }
  </section>

  <barra-acciones-formulario
    [mostrarRegreso]="pasoActual > 1"
    [esUltimoPaso]="pasoActual === pasos.length"
    (regreso)="pasoActual = pasoActual - 1"
    (continuar)="continuar()"
    (finalizar)="finalizar()"
  ></barra-acciones-formulario>

</plantilla-pagina-contenedora>
