<div class="contenedor-pagina">
  <main class="pagina">
    <header class="encabezado">
      <div class="encabezado__contenido">
        @if (breadcrumb) {
          <nav class="breadcrumb" aria-label="Ruta de navegación">
            <span [innerHTML]="breadcrumb"></span>
          </nav>
        }
        <h1 class="titulo">
          <mat-icon *ngIf="icon" aria-hidden="true">
            {{ icon }}
          </mat-icon>
          {{ title }}
        </h1>
        @if (subtitle || subtitleChild) {
          <div class="metadatos">
            @if (subtitle) {
              <span class="metadato">
                <span><strong>{{ subtitle }}</strong></span>
              </span>
            }
            @if (subtitleChild) {
              <span class="metadato">
                <strong>{{ subtitleChild }}</strong>
              </span>
            }
          </div>
        }
      </div>

      @if (mostrarBotonRegresar) {
        <button
          type="button"
          class="boton-regresar d-inline-flex align-items-center justify-content-center border-0 rounded-1 fw-bold"
          (click)="emitirEventoRegresar()"
        >
          <mat-icon class="rp-ico-continuar">arrow_back</mat-icon>
          <span>Regresar</span>
        </button>
      }
    </header>

    <section class="contenido">
      <ng-content></ng-content>
    </section>
  </main>
</div>
